asgiref
autopep8
certifi
charset-normalizer
Django
django-cors-headers
django-environ
django-filter
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
environ
ez-setup
idna
Markdown
mysqlclient
pycodestyle
PyJWT
pytz
requests
sqlparse
tomli
urllib3
